*{margin: 0;padding: 0;box-sizing: border-box;}
body{
    /* color: white; */
    font-family: serif;
}

header{
    width: 100%;
    height: 10vh;
    background: transparent;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

}
.logo img{
    display: block;
    margin: 10px 70px;
    height: 80%;
    /* width: 80%; */


}
header .logo{
    width: 50%;
    /* background: pink; */
    /* margin: 20px; */


}
header .link{
    width: 50%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    /* gap: 0px; */
    justify-content: space-around;
    /* margin-right: 50px; */

}
.link a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.bg img{
    width: 100%;
    height: 100vh;
}
.bg{
    position: relative;
}
.line{
    text-transform: capitalize;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 30%;
}
.line h1{
    font-size: 60px;
}
.line h3{
    font-size: 25px;
    text-align: center;
    margin: 10px;
}
button{
    color: white;
    padding: 5px;
    border-radius: 8px;
    background: rgb(233, 67, 131);
    border: none;
    height: 40px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    
}
.btn{
    top:65%;
    left: 50%;
}
.gray{
    height: 20vh;
    width: 100%;
    background: gray;
    margin: -5px 0;
}

.line2{
    text-align: center;
    margin: 5% 0;
}

.line2 h1{
    margin: 20px;
    font-size: 40px;
}
.line2 p{
    margin: 20px;
    font-size: 20px;
}
.border{
    border: 1px gray solid;
    width: 80%;
    margin: 0 10%;
}
.benefits{
    margin: 5%;
}
.benefits h1{
    text-align: center;
    margin-bottom:5% ;
}
.benefits .box{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.box h2{
    font-size: 20px;
    font-weight: normal;
    margin: 20px 0;
}
.box img{
    height: 100px;
    width: 100px;
    padding: 10px;
    /* border: 1px solid gray; */
}
.apply{
    margin: 5%;
}
.apply .req{
    text-align: center;
    margin: 50px;
}
.apply img{
    height: 500px;
    width: 700px;
}
.fr{
    margin: 5%;
}
.fr h1{
    text-align: center;
}
.call{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    font-size: 19px;
    text-decoration: none;
}
.call a{
    text-decoration: none;
    color: black;
}