*{margin: 0;padding: 0;box-sizing: border-box;}
body{
    /* color: white; */
    font-family: serif;
}

header{
    width: 100%;
    height: 10vh;
    background: transparent;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;

}
.logo img{
    display: block;
    margin: 10px 70px;
    height: 80%;
    /* width: 80%; */


}
header .logo{
    width: 50%;
    /* background: pink; */
    /* margin: 20px; */


}
header .link{
    width: 50%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    /* gap: 0px; */
    justify-content: space-around;
    /* margin-right: 50px; */

}
.link a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.bg img{
    width: 100%;
    height: 100vh;
}
.line h1{
    position: absolute;
    top: 30%;
    left: 5%;
    /* right: 0%; */
    font-size: 60px;
    color: white;
    /* color: black; */
}
.main2{
    margin: 5% 5%;
}
.line1{
    display: flex;
    gap: 8% ;
    margin: 5%;
}

.photo img{
    height: 400px;
    width: 600px;
}
.main2  p{
    /* display: flex; */
    /* justify-content: center; */

    margin: 2%;
}

.footer{
    margin: 5% 10%;
    display: grid;
    grid-template-columns: auto auto;

}
.footer1 h1{
    font-size: 50px;
    margin-bottom: 20px;
    /* color: gray; */
}
.footer1 p{
    margin: 20px 0;
    font-size: 20px;
}
.icons h2{
 font-size:  50px;
}
.icons img{
    /* display: flex; */
    height: 30px;
    width: 30px;
    margin: 10px 5px 0 5px;
}